<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="input-container ic2">
        <%= form.label :title, class:"placeholder" %>
        <%= form.text_field :title, class:"input" %>
    </div>
      <div class="input-container ic2">
        <%= form.label :duration, class:"placeholder" %>
        <%= form.text_field :duration, class:"input" %>
      </div>

      <div class="input-container ic2">
        <%= form.label :weight, class:"placeholder" %>
        <%= form.number_field :weight, class:"input" %>
      </div>

      <div>
        <%= form.submit class:"submit" %>
      </div>
    </div>
  </div>
<% end %>