<p style="color: green"><%= notice %></p>
<div>
<h1>You have <%= @coupons %> coupons left</h1>

<progress value=<%= @coupons %> max="60"></progress>

<h2>Select a show</h2>
</div>

<div id="stories">
  <% @stories.each do |story| %>
    <% if story.weight <= @coupons %>
      <%= button_to "", story, method: :counting, style:"background-image: url('/assets/#{story.title}.jpg');" %>
    <% elsif story.weight > @coupons && story.weight < 10 %>
      <%= button_to story.title, story, method: :counting %>
    <% end %>
  <% end %>
</div>

<div>
<%= link_to "Back to home page", root_path %>
</div>
