<p style="color: green"><%= notice %></p>
<h1>You have <%= @coupons %> coupons left</h1>

<h2>Select a show</h2>

<div id="stories">
  <% @stories.each do |story| %>
    <% if story.weight <= @coupons %>
      <%= button_to story.title, story, method: :counting %>
    <% elsif story.weight > @coupons && story.weight < 10 %>
      <%= button_to story.title, story, method: :counting %>
    <% end %>
  <% end %>
</div>

<%= button_to "Back to home page", root_path, method: :get %>
